{
      "apiVersion": "v1",
      "kind": "ReplicationController",
      "metadata": {
          "name": "config-writer"
      },
      "spec": {
          "replicas": 1,
          "selector": {
              "role": "config-writer"
          },
          "template": {
              "metadata": {
                  "labels": {
                      "role": "config-writer"
                  }
              },
              "spec": {
                  "containers": [
                      {
                          "name": "config-writer",
                          "image": "b.gcr.io/isb-cgc-public-docker-images/isb-cgc-pipelines:latest",
                          "cmd": ["configServer", "--port", "3310"],
                          "ports": [
                              {
                                  "name": "config-writer",
                                  "containerPort": 3310
                              }
                          ],
                          "volumeMounts": [
                              {
                                  "name": "config",
                                  "mountPath": "/etc/isb-cgc-pipelines/config",
                                  "readOnly": "false"
                              }
                          ]
                      }
                  ],
                  "volumes": [
                      {
                          "name": "config"
                      }
                  ]
              }
          }
      }
  }