{
    "apiVersion": "v1",
    "kind": "ReplicationController",
    "metadata": {
        "name": "pipeline-frontend"
    },
    "spec": {
        "replicas": {{ replicas }},
        "selector": {
            "role": "pipeline-frontend"
        },
        "template": {
            "metadata": {
                "labels": {
                    "role": "pipeline-frontend"
                }
            },
            "spec": {
                "containers": [
                    {
                        "name": "pipeline-frontend",
                        "image": "b.gcr.io/isb-cgc-public-docker-images/isb-cgc-pipelines:latest",
                        "command": ["pipelineServer"],
                        "ports": [
                            {
                                "name": "pipeline-frontend",
                                "containerPort": 80
                            }
                        ]
                    }
                ]
            }
        }
    }
}