{
      "apiVersion": "v1",
      "kind": "ReplicationController",
      "metadata": {
          "name": "sqlite-writer"
      },
      "spec": {
          "replicas": 1,
          "selector": {
              "role": "sqlite-writer"
          },
          "template": {
              "metadata": {
                  "labels": {
                      "role": "sqlite-writer"
                  }
              },
              "spec": {
                  "containers": [
                      {
                          "name": "sqlite-writer",
                          "image": "b.gcr.io/isb-cgc-public-docker-images/isb-cgc-pipelines:latest",
                          "cmd": ["sqliteServer", "--port", "3309"],
                          "ports": [
                              {
                                  "name": "sqlite-writer",
                                  "containerPort": 3309
                              }
                          ],
                          "volumeMounts": [
                               {
                                  "name": "db",
                                  "mountPath": "/var/lib/isb-cgc-pipelines/db",
                                  "readOnly": "false"
                              },
                              {
                                  "name": "config",
                                  "mountPath": "/var/lib/isb-cgc-pipelines/config",
                                  "readOnly": "true"
                              }
                          ]
                      }
                  ],
                  "volumes": [
                       {
                          "name": "db"
                      },
                      {
                          "name": "config"
                      }
                  ]
              }
          }
      }
  }